<body>
<h2> Please enter a new restaurant.</h2>

<div class = "box" box-align center>
  <form action="/restaurant/submit_new" method="POST">
    Restaurant name:<br>
    <input type="text" name="name"><br>
    address: <br>
    <input type="text" name="address"><br>
    category: <br>
    <input type="text" name="category"> <br>
    <button type="submit"> Submit </button>
  </form>
</div>
</body>
