


.img-fluid{
  background-color: blue;
  background-repeat: no-repeat;
  background-size: 150%;

}
.form1{
  text-align: center;
}

.form{
  text-align: right;
  background-color: blue;

}

h1 {
  color: white;
  text-align: center;
}

p {
    color: white;
    text-align: center;
}

#list {
  color: white;
  text-align: center;
}

 #box {
   background-color: black;
   border: 6px solid lightgreen;
   padding: 25px;
   margin: 9%;
   width: 10%
   border: center;
   margin: center;
   color: white;
 }

 img {
   margin-top: 100px;
 }


 button {
   font-size: 0.8em;
   font-weight: bold;
   padding: 10px;
   background-color: #EFFAF3;
   border: 1px solid #EFFAF3;
 }

 .textfield {
   font-size: 1.6em;
   width: 500px;
   margin-bottom: 20px;
   background-repeat: no-repeat;
   background-position: right;
   border: 4px solid orange;
 }
